html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
  margin: 10px;
  padding: 10px;
}

.consoleBox {
      font-family: 'Consolas';
      list-style-type: none;
      color: green;
      font-size: 13px;
      background: black;
      border: 3px groove #ccc;
      border-radius: 5px;
      text-align: left;
      display: block;
      padding: 5px;
      margin-top: 20px;
}
/*
ul li { 
animation-name: demo;
animation-duration: 500ms;
animation-iteration-count: 1;
animation-timing-function: ease-in-out
}

@keyframes demo {
    0% {
        background-color: Yellow;
        opacity:1;
    }
    22% {
        background-color: Yellow;
    }
    77% {
        background-color: Red;
    }
    100% {
        background-color: #777;
    }
}*/
